@import "tailwindcss";

:root {
  --rouge: #C41E1E;
  --noir: #0A0A0A;
  --blanc: #F5F0E8;
  --vert: #1B4332;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--noir);
  color: var(--blanc);
  font-family: 'Georgia', serif;
  cursor: default;
}

::selection {
  background: var(--rouge);
  color: var(--blanc);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--noir);
}

::-webkit-scrollbar-thumb {
  background: var(--rouge);
}